# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS and IDE specific files
.DS_Store
.env
.vscode/

# Ignore build directories in case you have any
dist/
build/